@model CartPageVM
@{
    ViewBag.Title = "CartPage";
}

@Html.ActionLink("Alışverişe devam et", "ListProducts", null, new { @class = "btn btn-primary" })

@if (ViewBag.Sepetbos != null)
{
    <h1>@ViewBag.SepetBos</h1>
}
else
{
    <div class="card card-body">
        Odemeniz gereken mevcut toplam tutar => @Model.Cart.TotalPrice
    </div>
    <table class=" table table-hover">
        <thead>


            <tr>
                <th>Urun Ismi</th>
                <th>Urun Fiyati</th>
                <th>Urun Adedi</th>
                <th>Ara Fiyat</th>
            </tr>
        </thead>
        <tbody>
            @foreach (CartItem item in Model.Cart.Sepetim)
            {
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.UnitPrice</td>
                    <td>@item.Amount</td>
                    <td>@item.SubTotal</td>
                    <td>@Html.ActionLink("Sepetten Cikar", "DeleteFromCart", new { id = item.ID }, new { @class = "btn btn-danger" })</td>
                </tr>
            }
        </tbody>
    </table>
}